<%- include('header') %>
    <p>The players' name is <%= name %>!</p>
    <img src="<%= playerImg %>"><br>

    <% for (tweet in tweets) { %>
        <p><%= tweet %></p>
    <% } %>
    <button onclick="window.location.href = 'http://localhost:3000/'">Go Back</button>
<%- include('footer') %>